<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/45257833-1caf-410f-9258-a9d218aa6343/resourcegroups/RESTServiceExample20211128123005ResourceGroup/providers/Microsoft.Web/sites/ISI2021</ResourceId>
    <ResourceGroup>RESTServiceExample20211128123005ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/45257833-1caf-410f-9258-a9d218aa6343/resourceGroups/RESTServiceExample20211128123005ResourceGroup/providers/Microsoft.ApiManagement/service/RESTServiceExampleapi/apis/RESTServiceExample</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://isi2021.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>69fcc37b-3a06-48ec-9f79-6bb8736a9d3f</ProjectGuid>
    <MSDeployServiceURL>isi2021.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ISI2021</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ISI2021</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>